body
{
	font: 12px sans-serif;
}
.axis path,
.axis line
{
	fill: none;
	rendering: crispEdges;
	stroke: black;
	width: 2.5;
}
.tooltip
{
	background: #dddddd;
	border: 2px solid #a1a1a1;
	border-radius: 8px;
	events: none;
	font: sans-serif;
	font-weight: bold;
	index: 10;
	opacity: 0;
	padding: 5px;
	position: absolute;
}
.click_tooltip
{
	background: #636363;
	border: 2px solid black;
	border-radius: 8px;
	color: white;
	events: none;
	font: sans-serif;
	font-weight: bold;
	index: 9;
	opacity: 0;
	padding: 5px;
	position: absolute;
}
.textbox
{
	border: 2px solid black;
	border-radius: 8px;
	font: sans-serif;
	font-weight: bold;
	opacity: 0;
	padding: 5px;
	pointer-events: none;
	position: absolute;
	z-index: 10;
}